.top-button-container {
    /* 필터 */
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 390px;
    height: 56px;
}
.styled-button {
    /* 위치 */
    box-sizing: border-box;

    height: 28px;
    color: #0047AD;
    border: 1px solid #0047AD;
    font-weight: bold;
    border-radius: 20px;
    font-size: 10px;
}